# Angular / Node
node_modules/
dist/
.tmp/
out-tsc/

# Angular cache
.angular/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# Coverage
coverage/

# Build artifacts
*.tsbuildinfo

# Misc
*.log

# Firebase
.firebase

# Angular build output
dist/